body {
    overflow-x: hidden;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}

/* Backgrounds */
.bg-endless-river {
    background: -webkit-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #43cea2 10%, #185a9d 90%); /* W3C */
}

.dark-blue-bg {
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
}

.big-image {
    max-height: 960px;
    max-width: auto;
}

.mock-img {
    padding-bottom: 30px;
}

.text-white {
    color: #fff;
}

.text-invoked-blue {
    color: #59ABE3 !important;
}

.text-title {
    font-size: 45px;
    padding-bottom: 0;
}

.small-subtitle-text {
    margin-top: 0;
    padding-top: 0;
}

.subtitle-text {
    font-weight: 300;
    font-size: 24px;
    color: #eee;
}

.text-dark-blue {
    color: #315262
}


/*http://www.blacktie.co/page/2 */

#headerwrap {
    padding-top: 150px;
    padding-bottom: 150px;
    min-height: 0.65vh;
    width: 100%
}

#headerwrap h1 {
    margin-top: 5px;
    margin-bottom: 14px;
    letter-spacing: inherit;
    padding-bottom: 0;
    color: #fff;
}

.section-panel {
    margin-bottom: 40px;
}

.bigger-left-img-section {
 padding-right: 0;   
}

.btn {
    border-radius: 0;
}

.btn-dark-blue {
  background-color: #3A6073;
  border-color: #3A6073;
    color: #eee;
}
.btn-dark-blue:hover,
.btn-dark-blue:focus,
.btn-dark-blue:active,
.btn-dark-blue.active {
  background-color: #315262;
  border-color: #294451;
}
.btn-dark-blue.disabled:hover,
.btn-dark-blue.disabled:focus,
.btn-dark-blue.disabled:active,
.btn-dark-blue.disabled.active,
.btn-dark-blue[disabled]:hover,
.btn-dark-blue[disabled]:focus,
.btn-dark-blue[disabled]:active,
.btn-dark-blue[disabled].active,
fieldset[disabled] .btn-dark-blue:hover,
fieldset[disabled] .btn-dark-blue:focus,
fieldset[disabled] .btn-dark-blue:active,
fieldset[disabled] .btn-dark-blue.active {
  background-color: #3A6073;
  border-color: #3A6073;
    color: #eee;
}